<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Local Value</h5>
    <p class="card-text">The Value is: @MyValue</p>
    <button class="btn btn-outline-warning" @onclick="BananenbrotClicked">Bananenbrot ;)</button>
  </div>
</div>
